# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restoreBackup
.flattened-pom.xml
dependency-reduced-pom.xml
build.log
.incremental
.checkstyle

# IDE
.settings/
.project
.classpath
.factorypath
bin/
*.iml
*.ipr
*.iws
.idea/
.vscode/

# System
.DS_Store
Thumbs.db

# Logs
logs/
*.log
